.loading {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid #595959;
    border-left-color: white;
    border-radius: 100%;
    margin-top: .5rem;
    margin-left: 1.5rem;
    animation: spinning 1s cubic-bezier(1, .5, .7, 1) infinite;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
